.topbar{
    background: var(--color-base);
    padding: 8px 0;
    .top-nav{
        display: flex;
        justify-content: end;
        gap: 10px;
        align-items: center;
        color: #fff;
        font-size: 13px;
        li i{
            margin-right: 5px;
        }
    }
}

.header {
    background: #FFF;
    box-shadow: 0px 6px 16px 0px #E0EBFF;
    padding: 5px 0;
    transition: all 0.3s ease-in;
    @media (max-width:767px) {
        padding: 5px 0;
    }
    &.pin{
        padding:0;
        top: 0;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 12;
      
    }
    .navbar{
        padding: 0;
        justify-content: space-between;
        .navbar-brand{
            flex-shrink: 0;
        }
        .navbar-collapse{
            flex-grow: inherit;
            @media (max-width:767px) {
                order: 4;
            }
        }
        .logo{
          
            img{
                width: 80px;
                @media (max-width:767px) {
                    width: 50px;
                    order: 0;
                }
            }
         
        }
        .navbar-nav{
            font-size: 14px;
            font-weight: 700;
            line-height: 150%; /* 27px */
            @media (max-width:767px) {
                margin-top: 20px;
            }
            .nav-item{
                padding-left: 10px;
                padding-right: 10px;
            }
            a{
                color: #404251;
                padding-left: 10px;
                white-space: nowrap;
                padding-right: 10px;
                @media (max-width:767px) {
                    padding: 10px 0;
                }
            }
            .active, .nav-item:hover{
                a{
                    color: var(--color-base);
                }
            }
        }
        .form-inline {
            width: 100%;
            position: relative;
            max-width: 600px;
            @media (max-width:767px) {
                order: 1;
                max-width: calc(100% - 108px);
            }

            .form-control{
                border: 1px solid #DFEBFA;
                background: #DFEBFA;
                width: 100%;
            }
            .btn{
                position: absolute;
                right: 5px;
                top: 2px;
                color: #1F7CCC;
                width: 36px;
                height: 36px;
                margin: 0 !important;
                background: transparent;
            }
        }
    }
    .navbar-toggler{
        color: var(--color-base);
        border: 0;
        order: 2;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
   
}
