@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color-base: #144A85;
    --color-base1: #1F7CCC;
}

body,
html {
    background: #fff;
    color: #262730;
    padding: 0;
    line-height: 1.4;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
    font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img,
iframe {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

input {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border: none;
    outline: none;
    color: #404251;
    padding-left: 25px;
    padding-right: 25px;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.form-group {
    margin-bottom: 20px;
}
.form-control{
    border-radius: 24px;
    border: 1px solid #EBEBEB;
    padding-right: 25px;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.select2-container--default .select2-selection--single{
    border-radius: 24px;
    height: 40px;
    color: #11233A;
    border: 1px solid #EBEBEB;
    background: #fff;
}
textarea{
    height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
    color: #11233A;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3px;
    right: 8px;
    b{
        border-color: #EBEBEB;
        border-right: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
        width: 7px;
        height: 7px;
        transform: rotate(45deg);
        border-left: 0 solid #000;
        border-top: 0 solid #000;
    }
}
.menu_before{
    width: 100%;
    height: 1px;
}
button,
.btn {
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 9px 16px;
    font-weight: 500;
    border-radius: 24px;
    display: inline-block;

    &.btn-base {
        background: var(--color-base);
        color: #FCFCFC;
    }

    &.btn-line {
        border: 1px solid var(--color-base);
        background: none;
        color: var(--color-base);
    }
    &.btn-white{
        border: 1px solid #fff;
        background: #fff;
        color: var(--color-base1);
    }
}

.container {
    width: 100%;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.select-option {
    position: relative;

    .tt {
        color: #FD734F;
        cursor: pointer;

        &::after {
            position: relative;
            margin-left: 5px;
            top: 2px;
            content: url('data:image/svg+xml,<svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.77292 7.39804L1.14792 13.023C1.09565 13.0753 1.03361 13.1168 0.965326 13.145C0.897042 13.1733 0.823856 13.1879 0.749947 13.1879C0.676037 13.1879 0.602851 13.1733 0.534567 13.145C0.466284 13.1168 0.40424 13.0753 0.351978 13.023C0.299716 12.9708 0.258259 12.9087 0.229975 12.8404C0.201691 12.7722 0.187134 12.699 0.187134 12.6251C0.187134 12.5512 0.201691 12.478 0.229975 12.4097C0.258259 12.3414 0.299716 12.2794 0.351978 12.2271L5.57971 7.00007L0.351978 1.77304C0.24643 1.66749 0.187134 1.52434 0.187134 1.37507C0.187134 1.2258 0.24643 1.08265 0.351978 0.9771C0.457525 0.871552 0.600679 0.812256 0.749947 0.812256C0.899214 0.812256 1.04237 0.871552 1.14792 0.9771L6.77292 6.6021C6.82521 6.65434 6.8667 6.71638 6.89501 6.78466C6.92332 6.85295 6.93789 6.92615 6.93789 7.00007C6.93789 7.07399 6.92332 7.14719 6.89501 7.21547C6.8667 7.28376 6.82521 7.3458 6.77292 7.39804Z" fill="%23FD734F"/></svg>');
        }
    }

    &.active {
        .list-option {
            display: block;
        }
    }

    .list-option {
        display: none;
        position: absolute;
        box-shadow: 0px 4px 30px 0px #3629B712;
        background: #fcfcfc;
        padding: 15px;
        z-index: 1;
        border-radius: 16px;
        top: 50px;
        right: 0;
        box-shadow: 0 0px 8px 0px #3629B714;
        min-width: 300px;
        width: 100%;

        .item {
            white-space: nowrap;
            display: flex;
            margin-bottom: 10px;
            justify-content: space-between;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            .choose {
                display: flex;
                align-items: center;
                gap: 5px;

                label {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        height: 22px;
                    }
                }
            }


            .price-ship {
                color: #1E222C;
            }
        }
    }
}

.wrap-paging {
    margin: 40px 0;
    margin-left: auto;

    @media (max-width:767px) {
        margin: 20px;
    }

    .pagination {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: end;

        @media (max-width:767px) {
            display: none;
        }

        .page {
            font-size: 16px;
            font-weight: 500;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            width: 40px;
            height: 40px;
            background: #FCFCFC;
            box-shadow: 0px 4px 30px 0px #3629B712;
            box-shadow: 4px 0px 8px 0px #3629B714;
            border-radius: 50%;

            a {
                color: #7C8087;
                display: block;
            }

            .icon {
                width: 40px;
                height: 40px;
                padding: 8px;
            }

            &.active {
                background: var(--color-base);

                a {
                    color: #fff
                }

            }

            &.disabled {
                opacity: 0.6;
            }


        }
    }

    .xemthem {
        width: 100%;
        background: var(--color-base);
        color: #FCFCFC;
        text-align: center;
        height: 40px;
        border-radius: 24px;
        line-height: 40px;
        display: none;

        @media (max-width:767px) {
            display: block;
        }
    }
}

.text-base{
    color: var(--color-base);
}

.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;

    &.thumb-news {
        padding-bottom: 60%;
    }
    &.thum-1x1 {
        padding-bottom: 100%;
    }
   
    img {
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.section{
    padding: 80px 0;
    @media (max-width:991px) {
       padding: 30px 0;
    }
}

.placeholder {

    position: relative;
    background: #222222 !important;
    opacity: 0.1;
    animation: fading 1.5s infinite;
    border-radius: 4px;
}

@keyframes fading {
    0% {
        opacity: 0.1;
    }

    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.1;
    }
}


.checkbox {
    width: 18px;
    height: 18px;
}

.breadcrumb{
    width: 100%;
    padding: 16px 0;
    background: linear-gradient(270deg, #FFF 0%, #FEF7EE 100%);
    a{
        color: #888
    }

    li {
        display: inline-block;

        font-size: 16px;
        &::after {
            margin: 0 10px;
            content: '\2022';
            color: #888;
            // content: url('data:image/svg+xml,<svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.64052 5.26552L0.890521 9.01552C0.820156 9.08589 0.72472 9.12542 0.625208 9.12542C0.525697 9.12542 0.430261 9.08589 0.359896 9.01552C0.289531 8.94516 0.25 8.84972 0.25 8.75021C0.25 8.6507 0.289531 8.55526 0.359896 8.4849L3.84505 5.00021L0.359896 1.51552C0.289531 1.44516 0.25 1.34972 0.25 1.25021C0.25 1.1507 0.289531 1.05526 0.359896 0.984896C0.430261 0.914531 0.525697 0.875 0.625208 0.875C0.72472 0.875 0.820156 0.914531 0.890521 0.984896L4.64052 4.7349C4.67539 4.76972 4.70305 4.81108 4.72192 4.85661C4.74079 4.90213 4.7505 4.95093 4.7505 5.00021C4.7505 5.04949 4.74079 5.09829 4.72192 5.14381C4.70305 5.18934 4.67539 5.23069 4.64052 5.26552ZM8.39052 4.7349L4.64052 0.984896C4.57016 0.914531 4.47472 0.875 4.37521 0.875C4.2757 0.875 4.18026 0.914531 4.1099 0.984896C4.03953 1.05526 4 1.1507 4 1.25021C4 1.34972 4.03953 1.44516 4.1099 1.51552L7.59505 5.00021L4.1099 8.4849C4.03953 8.55526 4 8.6507 4 8.75021C4 8.84972 4.03953 8.94516 4.1099 9.01552C4.18026 9.08589 4.2757 9.12542 4.37521 9.12542C4.47472 9.12542 4.57016 9.08589 4.64052 9.01552L8.39052 5.26552C8.42539 5.23069 8.45305 5.18934 8.47192 5.14381C8.49079 5.09829 8.5005 5.04949 8.5005 5.00021C8.5005 4.95093 8.49079 4.90213 8.47192 4.85661C8.45305 4.81108 8.42539 4.76972 8.39052 4.7349Z" fill="%23ffffff"/></svg>');
        }

        &:last-child {
            a {
                color: #4F4F4F;
                font-weight: bold;

            }
            &::after {
                display: none;
            }
        }

        &.active {
            a {
                color: #4F4F4F;
                font-weight: bold;

            }
        }
    }
}

.box-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 5px;

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        position: relative;
        cursor: pointer;
        line-height: 22px;

        &:hover {
            &::before {
                border: 1px solid #FD5023;
            }
        }
    }

    label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid #C2C2C2;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 10px;
        display: inline-block;
        height: 22px;
        width: 22px;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
    }

    input:checked {
        &+label::before {
            border: 1px solid var(--color-base1);
            background: #fff;

        }

        &+label:after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            left: 8px;
            width: 6px;
            height: 13px;
            border: solid var(--color-base1);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}

.err {
    display: block;
    font-size: 12px;
    margin-top: 3px;
    color: #FD5023;
}

.box-select {
    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }

    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 48px;
    }

    .select-styled {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        left: 0;
        line-height: 48px;
        padding: 0 25px;

        @media (max-width: 767px) {
            padding: 0 5px;
        }

        background: #fff;
        border: 1px solid #EBEBEB;
        border-radius: 40px;

        transition: all 0.2s ease-in;

        &:after {
            content: url('data:image/svg+xml,<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.031 1.53104L9.53104 9.03104C9.46139 9.10077 9.37867 9.15609 9.28762 9.19384C9.19657 9.23158 9.09898 9.25101 9.00042 9.25101C8.90186 9.25101 8.80426 9.23158 8.71321 9.19384C8.62216 9.15609 8.53945 9.10077 8.46979 9.03104L0.969792 1.53104C0.829062 1.39031 0.75 1.19944 0.75 1.00042C0.75 0.801394 0.829062 0.610522 0.969792 0.469792C1.11052 0.329061 1.30139 0.25 1.50042 0.25C1.69944 0.25 1.89031 0.329061 2.03104 0.469792L9.00042 7.4401L15.9698 0.469792C16.0395 0.400109 16.1222 0.344834 16.2132 0.307122C16.3043 0.26941 16.4019 0.25 16.5004 0.25C16.599 0.25 16.6965 0.26941 16.7876 0.307122C16.8786 0.344834 16.9614 0.400109 17.031 0.469792C17.1007 0.539474 17.156 0.6222 17.1937 0.713245C17.2314 0.804289 17.2508 0.901871 17.2508 1.00042C17.2508 1.09896 17.2314 1.19654 17.1937 1.28759C17.156 1.37863 17.1007 1.46136 17.031 1.53104Z" fill="%232A3262"/></svg>');
            width: 18px;
            height: 18px;
            position: absolute;
            top: 0;
            right: 10px;

            @media (max-width: 767px) {
                right: 5px;
                content: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.031 1.53104L9.53104 9.03104C9.46139 9.10077 9.37867 9.15609 9.28762 9.19384C9.19657 9.23158 9.09898 9.25101 9.00042 9.25101C8.90186 9.25101 8.80426 9.23158 8.71321 9.19384C8.62216 9.15609 8.53945 9.10077 8.46979 9.03104L0.969792 1.53104C0.829062 1.39031 0.75 1.19944 0.75 1.00042C0.75 0.801394 0.829062 0.610522 0.969792 0.469792C1.11052 0.329061 1.30139 0.25 1.50042 0.25C1.69944 0.25 1.89031 0.329061 2.03104 0.469792L9.00042 7.4401L15.9698 0.469792C16.0395 0.400109 16.1222 0.344834 16.2132 0.307122C16.3043 0.26941 16.4019 0.25 16.5004 0.25C16.599 0.25 16.6965 0.26941 16.7876 0.307122C16.8786 0.344834 16.9614 0.400109 17.031 0.469792C17.1007 0.539474 17.156 0.6222 17.1937 0.713245C17.2314 0.804289 17.2508 0.901871 17.2508 1.00042C17.2508 1.09896 17.2314 1.19654 17.1937 1.28759C17.156 1.37863 17.1007 1.46136 17.031 1.53104Z" fill="%232A3262"/></svg>');

            }
        }

    }

    .select-options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 16px;
        li {
            margin: 0;
            padding: 5px 0;
            text-indent: 15px;
            transition: all 0.2s ease-in;
            color: #222222;
            background: #fff;
            &:hover,
            &.is-selected {
                color: var(--color-base);
            }

            &[rel="hide"] {
                display: none;
            }
        }
    }
}

.box-radio {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 5px;

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        position: relative;
        cursor: pointer;
        line-height: 12px;

        &:hover {
            &::before {
                border: 1px solid #FD5023;
            }
        }
    }

    label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid #C2C2C2;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 10px;
        display: inline-block;
        height: 12px;
        width: 12px;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
    }

    input:checked {
        &+label::before {
            border: 1px solid #FD5023;
            background: #FD5023;

        }

        &+label:after {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            left: 8px;
            width: 6px;
            height: 13px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
.list-news {
    @media (max-width:991px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    @media (max-width:767px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .item-news {
        margin-bottom: 25px;
        // background: #FCFCFC;
        // box-shadow: 0px 4px 30px 0px #3629B712;
        // border-radius: 16px;
        // box-shadow: 4px 0px 8px 0px #3629B714;

        @media (max-width:991px) {
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .box-news {
            display: flex;
            align-items: start;

            @media (max-width:991px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width:991px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 0;
            }
        }

        .thumb-art {
            width: calc(100%/3);
            border-radius: 8px;
            overflow: hidden;
            min-width: calc(100%/3);

            @media (max-width:991px) {
                width: 100%;
            }
        }

        .title-news {
            font-size: 16px;
            font-weight: 700;
            color: var(--color-base);
            text-transform: uppercase;

            &:hover {
                color: var(--color-base);

                a {
                    color: var(--color-base);
                }
            }
        }

        .description {
            font-size: 16px;
            color: #616161;
            margin-top: 10px;
            // display: -webkit-box;
            // -webkit-line-clamp: 3;
            // word-break: break-word;
            // overflow: hidden;
            // -webkit-box-orient: vertical;

            @media (max-width:1680px) {
                -webkit-line-clamp: 2;
            }

            @media (max-width:991px) {
                -webkit-line-clamp: inherit;
            }

        }

        .right-content {
            padding-left: 20px;

            @media (max-width:991px) {
                padding-left: 0;
                padding-top: 15px;
            }
        }


        .flex-cat {
            display: flex;
            align-items: center;
            gap: 5px;
            row-gap: 10px;
            margin-bottom: 10px;

            @media (max-width:991px) {
                flex-wrap: wrap;
            }

            .time {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #919191;
                font-size: 13px;
                font-weight: 400;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            .cat-tag {
                font-size: 13px;
                padding: 0 5px;
                color: #919191;
                text-transform: uppercase;
                border-left: 1px solid #919191;
            }
        }

        .xemthem {
            color: #1349D4;
            font-size: 13px;
            margin-top: 10px;
            display: block;

            @media (max-width:767px) {
                margin-top: 0;
            }

            &::after {
                content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.7729 9.39792L7.14792 15.0229C7.09565 15.0752 7.03361 15.1166 6.96533 15.1449C6.89704 15.1732 6.82386 15.1878 6.74995 15.1878C6.67604 15.1878 6.60285 15.1732 6.53457 15.1449C6.46628 15.1166 6.40424 15.0752 6.35198 15.0229C6.29972 14.9707 6.25826 14.9086 6.22998 14.8403C6.20169 14.772 6.18713 14.6989 6.18713 14.6249C6.18713 14.551 6.20169 14.4779 6.22998 14.4096C6.25826 14.3413 6.29972 14.2792 6.35198 14.227L11.5797 8.99995L6.35198 3.77292C6.24643 3.66737 6.18713 3.52421 6.18713 3.37495C6.18713 3.22568 6.24643 3.08253 6.35198 2.97698C6.45753 2.87143 6.60068 2.81213 6.74995 2.81213C6.89921 2.81213 7.04237 2.87143 7.14792 2.97698L12.7729 8.60198C12.8252 8.65422 12.8667 8.71626 12.895 8.78454C12.9233 8.85283 12.9379 8.92603 12.9379 8.99995C12.9379 9.07387 12.9233 9.14706 12.895 9.21535C12.8667 9.28364 12.8252 9.34567 12.7729 9.39792Z" fill="%231349D4"/></svg>');
                position: relative;
                top: 5px;
            }
        }
    }
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @media (max-width:767px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
.section-news-detail {
    .content {
        .thumb-art {
            .thumb-news {
                border-radius: 16px;
                padding-bottom: 35%;
            }

            margin-bottom: 30px;
        }

        .flex-cat {
            display: flex;
            align-items: center;
            gap: 5px;
            row-gap: 10px;
            margin-bottom: 10px;

            @media (max-width:991px) {
                flex-wrap: wrap;
            }

            .time {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #51555F;
                font-size: 13px;
                font-weight: 400;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            .cat-tag {
                font-size: 13px;
                padding: 0 5px;
                color: #51555F;
                border-left: 1px solid #51555F;
            }
        }

        .title-news {
            font-size: 36px;
            font-weight: 800;
            line-height: 120%;
            margin-bottom: 15px;
            text-transform: uppercase;
            color: var(--color-base);
            @media (max-width:991px) {
                font-size: 24px;
             }
        }

        .flex-cat {
            margin-bottom: 25px;
            text-transform: uppercase;
            .cat-tag {
                margin-right: 10px;
            }
        }

        .details {
            font-size: 16px;
            color: #5A5D72;
            p {
                margin-bottom: 15px;
            }

            img {
                margin: auto;
                margin-bottom: 15px;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }

            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 15px;
            }
        }
        
    }

}
.section-product-detail{
    padding: 60px 0;
    font-size: 16px;
    background: var(--Linear, linear-gradient(180deg, #FEF7EE 0%, #FFF 100%));
    @media (max-width:767px) {
        padding: 30px 0;
    }
    .short-lead{
        color: var(--color-base1);
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .title-news {
        font-size: 36px;
        font-weight: 800;
        line-height: 120%;
        margin-bottom: 15px;
        text-transform: uppercase;
        color: var(--color-base);
        @media (max-width:991px) {
            font-size: 24px;
         }
        
    }

   
    .details {
        font-size: 16px;
        color: #5A5D72;
        p {
            margin-bottom: 15px;
        }

        img {
            margin: auto;
            margin-bottom: 15px;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 15px;
        }
    }
    .siderbar-news{
        @media (max-width:768px) {
           order: -1;
           margin-bottom: 30px;
         }
        .item-product{
            padding: 0;
            .thumb{
                border-radius: 0;

            }
            &:hover{
                transform: none;
            }
        }
        .box-info{
            padding: 16px;
            background: #fff;
            border-radius: 0 0 16px 16px;
            ul{
                position: static;
                margin-top: 8px;
            }
            .block-price{
                display: flex;
                gap: 5px;
                align-items: center;
                span{
                    color:  #E9722C;
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 150%; /* 36px */
                }
                strike{
                    color: #6D6D6D;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .btn{
                text-transform: uppercase;
                width: 100%;
                padding: 8px;
                font-weight: bold;
                margin-top: 8px;
                display: block;
                &.btn-line{
                    background: #F0F7FD;
                }
            }
        }
    }
    .box-des{
        border-radius: 16px;
        background: #fff;
        padding: 24px;
        color: #11233A;
        margin-top: 24px;
       
        @media (max-width:991px) {
            padding: 15px;
         }
        h4{
            color: var(--color-base1);
            font-size: 18px;
            font-weight: 700;
            line-height: 150%; /* 27px */
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .list{
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: 24px;
            row-gap: 15px;
            @media (max-width: 767px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
            li{
                position: relative;
                display: flex;
                gap: 10px;
                &::before{
                    flex-shrink: 0;
                    width: 24px;
                    content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.5306 7.28062L9.53061 19.2806C9.46096 19.3503 9.37824 19.4057 9.2872 19.4434C9.19615 19.4812 9.09855 19.5006 8.99999 19.5006C8.90143 19.5006 8.80383 19.4812 8.71278 19.4434C8.62174 19.4057 8.53902 19.3503 8.46936 19.2806L3.21936 14.0306C3.07863 13.8899 2.99957 13.699 2.99957 13.5C2.99957 13.301 3.07863 13.1101 3.21936 12.9694C3.3601 12.8286 3.55097 12.7496 3.74999 12.7496C3.94901 12.7496 4.13988 12.8286 4.28061 12.9694L8.99999 17.6897L20.4694 6.21936C20.6101 6.07863 20.801 5.99957 21 5.99957C21.199 5.99957 21.3899 6.07863 21.5306 6.21936C21.6713 6.36009 21.7504 6.55097 21.7504 6.74999C21.7504 6.94901 21.6713 7.13988 21.5306 7.28062Z" fill="%23E9722C"/></svg>')
                }
            }
        }
    }
    .block-course{
        background: #F2F8FD;
        .item{
            .title{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 16px 10px;
                border-bottom: 1px solid  #8AC2EF;
                background: #E3EEFB;
                color:  #11233A;
                font-size: 18px;
                font-weight: 700;
                line-height: 150%; /* 27px */
                text-transform: uppercase;
                position: relative;
                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
                &::before{
                    margin-right: 8px;
                    height: 24px;
                    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M20.0306 10.0306L12.5306 17.5306C12.461 17.6003 12.3782 17.6557 12.2872 17.6934C12.1961 17.7312 12.0986 17.7506 12 17.7506C11.9014 17.7506 11.8038 17.7312 11.7128 17.6934C11.6217 17.6557 11.539 17.6003 11.4694 17.5306L3.96936 10.0306C3.82863 9.88988 3.74957 9.69901 3.74957 9.49999C3.74957 9.30097 3.82863 9.11009 3.96936 8.96936C4.1101 8.82863 4.30097 8.74957 4.49999 8.74957C4.69901 8.74957 4.88988 8.82863 5.03061 8.96936L12 15.9397L18.9694 8.96936C19.039 8.89968 19.1218 8.84441 19.2128 8.80669C19.3039 8.76898 19.4014 8.74957 19.5 8.74957C19.5985 8.74957 19.6961 8.76898 19.7872 8.80669C19.8782 8.84441 19.9609 8.89968 20.0306 8.96936C20.1003 9.03905 20.1556 9.12177 20.1933 9.21282C20.231 9.30386 20.2504 9.40144 20.2504 9.49999C20.2504 9.59854 20.231 9.69612 20.1933 9.78716C20.1556 9.87821 20.1003 9.96093 20.0306 10.0306Z" fill="%2311233A"/></svg>');
                }
                .time{
                    color:  #5A5D72;
                    font-size: 18px;
                    font-weight: normal;
                    text-transform: none;
                }
            }
            
            .card-body{
                li{
                    padding: 16px 10px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                    }
                    &::before{
                        content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.525 7.15563L5.52 1.64688C5.36818 1.55391 5.19429 1.50316 5.0163 1.49987C4.83831 1.49657 4.66266 1.54085 4.5075 1.62813C4.35382 1.71406 4.2258 1.83937 4.1366 1.99118C4.04741 2.14298 4.00026 2.31581 4 2.49188V13.5081C4.00116 13.7722 4.10715 14.0251 4.29466 14.2111C4.48218 14.3971 4.73589 14.501 5 14.5C5.18435 14.4999 5.36511 14.4491 5.5225 14.3531L14.525 8.84438C14.6697 8.75618 14.7893 8.63225 14.8723 8.48448C14.9553 8.33672 14.9989 8.1701 14.9989 8.00063C14.9989 7.83116 14.9553 7.66454 14.8723 7.51678C14.7893 7.36902 14.6697 7.24508 14.525 7.15688V7.15563ZM5 13.4963V2.50001L13.9894 8.00001L5 13.4963Z" fill="%2311233A"/></svg>');
                        height: 16px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}
