<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiếng anh</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="icofont/icofont.min.css" />
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- Header Start -->
    <div class="topbar">
        <div class="container">
            <ul class="top-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icofont-ui-user"></i>Đăng nhập / Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icofont-shopping-cart"></i>Giỏ hàng</a>
                </li>
            </ul>
        </div>
    </div>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">
                    <div class="logo">
                        <img class="green" src="images/logo.svg" alt="" />
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="icofont-navigation-menu"></i>
                </button>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                            class="icofont-search"></i></button>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Khóa học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Review của  học viên</a>
                        </li>
                    </ul>
                 
                </div>
            </nav>
        </div>
    </header>
    <!-- Header End -->
    <!-- build:content -->

    <!-- Footer Start-->
    <footer class="footer">
        <div class="container">
           
            <div class="midfooter">
                <div class="row justify-content-between">
                    <div class="col-md-2">
                        <div class="logo"><a href=""><img src="images/logo.svg" alt="" /></a></div>

                    </div>
                   
                   
                    <div class="col-md-4">
                        <h4>Giới thiệu</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                       <ul class="social">
                        <li><a href=""><i class="icofont-facebook"></i></a></li>
                        <li><a href=""><i class="icofont-google-plus"></i></a></li>
                        <li><a href=""><i class="icofont-twitter"></i></a></li>
                        <li><a href=""><i class="icofont-youtube"></i></a></li>
                    </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Thông tin liên hệ</h4>
                        <ul class="info">
                            <li><b>Địa chỉ:</b> Tầng 4, toà nhà Flemington, số 182 Lê Đại Hành, phường 15, quận 11, tp.Hồ Chí Minh</li>
                            <li><b>Điện thoại:</b> <a href="tel:1900 636 099">1900.636.099</a> </li>
                            <li><b>Fax: </b><a href="tel:1900 636 099">1900.636.099</a></li>
                            <li>Email<a href="mailto: hi@haravan.com"> hi@haravan.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>
    <!-- Footer End-->
    <button class="backToTopBtn"></button>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/common.js"></script>
    <!-- build:script -->
</body>

</html>
