
.btn-default {
  background: #FF5B00;
  border: 1px solid #FF5B00;
  &:hover {
      color: #fff;
      background: #FD8F52;
      border: 1px solid #FD8F52;
  }
}
.main-customer {
  .form-group {
    position: relative;
  }

  .select-list {
    position: relative;

    .select2-container--default
      .select2-selection--single
      .select2-selection__rendered {
      padding-left: 30px;
    }

    .select2-container--default
      .select2-selection--single
      .select2-selection__arrow {
      border-left: 0;
    }

    .btn-default {
      margin-left: 0;
      padding-left: 30px;

      [class*=" icofont-"],
      [class^="icofont-"] {
        position: absolute;
        z-index: 1;
        top: 11px;
        left: 10px;
      }
    }

    .select-option ul li,
    .select-option2 ul li {
      label {
        cursor: pointer;
      }

      cursor: pointer;
    }

    .select-option ul li:not(:last-child),
    .select-option2 ul li:not(:last-child) {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0 solid #e5e5e5;
    }

    .select-user {
      .select-option {
        .check-list {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .btn {
    white-space: nowrap;

    i {
      margin: 0;
    }
  }

  .btn-default {
    font-weight: normal;
    height: 35px;
  }

  .btn-mqh {
    color: #fff;
    height: auto;
    line-height: normal;
    padding: 4px 8px;
    border-radius: 20px;
  }

  .wrap_bg {
    .table-responsive .table {
      border-left: 4px solid #cfd9ee;

      th {
        text-align: center;
        background: #cfd9ee;
      }
    }
  }

  .left-button,
  .right-button {
    .btn {
      border-radius: 10px;
    }
  }

  .search-history {
    .btn {
      border-radius: 10px;
    }
  }

  .check-list .checkmark {
    background: #fff;
  }

  .select-list {
  }

  .avatar_inner {
    background: #e3ebf3;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #698096;
    margin-right: 10px;
  }

  .filter-nguonkh {
    .select-option {
      ul {
        li {
          padding-bottom: 0;
          border-bottom: 0;
          padding-left: 30px;
          position: relative;

          &.active {
            &::before {
              content: "\eed8";
              font-family: IcoFont;
              font-size: 20px;
              position: absolute;
              left: 0px;
              top: -5px;
            }
          }

          .filter {
            border-left: 4px solid;
            padding-left: 10px;

            &.all {
              border-left: 0;
            }
          }
        }
      }
    }
  }

  .filter-list {
    .select-option {
      width: 400px;
    }

    input.form-control {
      height: auto;
    }

    .action {
      justify-content: space-between;

      * {
        position: relative;

        &::after {
          content: "\2022";
          position: absolute;
          right: -20px;
          color: #698096;
        }
      }

      a:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }
}
label.switch input:checked+.slider {
  background-color: #54CC78;
}
.filter-list {
  input.form-control {
    height: auto;
  }
}

.check-list {
  .checkmark {
    &:after {
      border-color: #fff;
    }
  }

  input:checked ~ .checkmark {
    border: 1px solid #fd5023;
    background: #fd5023;
  }
}

.check-list-all {
  .checkmark {
    &:after {
      width: 10px;
      height: 2px;
      left: 2px;
      top: 6px;
      transform: rotate(0);
      background: #fff;
    }
  }
}

label.radio {
  input:checked ~ .checkmark {
    border: 1px solid #fd5023;
  }

  .checkmark::before {
    background: #fd5023;
  }
}

// sản phẩm


.text-base {
  color: #fd5023;
}

.bg-base {
  background: #fd5023;
}


.btn-outline-base {
  border-color: #343e7a;
  color: #343e7a;
  border-radius: 100px;
}

.btn-round {
  border-radius: 20px;
}

.main-products,
.add-product {
  .tab-default a {
    text-transform: uppercase;
    padding: 0 10px;

    &.active {
      border-bottom: 1px solid #fd5023;
      color: #fd5023;
      font-weight: bold;
    }
  }

  .bg-white {
    border-radius: 16px;
  }
}

.btn-active{
  background: #fd5023;
  color: #fff;
  border-color: #fd5023;
}

.disabled {
  opacity: 0.8;
}

.main-products {
  .hanmuc {
    color: #616161;
    background: #f5f5f5;
    padding: 2px 10px;
    border-radius: 20px;
  }

  .item-order {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;

    img {
      min-width: 80px;
      width: 80px;
      height: 80px;
      border-radius: 4px;
    }

    .info {
      .name-product {
        color: #1f2549;
        font-size: 16px;
      }

      .cat {
        color: #919191;
        font-size: 13px;
      }
    }
  }

  .table-responsive .table {
    td,
    th {
      border-left: 0;
      border-right: 0;
    }

    tr:nth-child(even) td {
      background: inherit;
    }
  }

  .sub-product {
    background: #f7f7f7;

    td {
      border: 0;
    }

    .item-order {
      img {
        min-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
      }
    }

    .xemthem {
      position: relative;
      display: block;

      span {
        position: relative;
        background: #f7f7f7;
        padding: 0 10px;
      }

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background: #c2c2c2;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }
  }
}

.form-control {
  &.form-line {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 0;
  }
}

.main-order {
  .table-responsive .table {
    td,
    th {
      border-left: 1px solid #cfd9ee;
      border-right: 1px solid #cfd9ee;
    }

    tr:nth-child(even) td {
      background: inherit;
    }
  }

  .item-order img {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
}

.add-product {
  padding: 0;
  padding-top: 24px;

  .manage-color {
    .list {
      gap: 10px;
      margin-bottom: 10px;

      .items {
        width: 80px;
        margin-bottom: 0;
        padding: 0;

        .delete {
          background: #c2c2c2;
          top: -8px;
        }
      }
    }
  }

  .wrap_input {
    font-size: 13px;
  }

  .form-group {
    position: relative;

    input {
      padding-right: 35px;
      min-width: 120px;
    }

    .note {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #616161;
      border-left: 1px solid #616161;
      padding-left: 10px;
    }

    .edit {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #616161;
      padding-left: 20px;
    }

    &.namesp input {
      padding-right: 70px;
    }
  }

  .box-info {
    ul {
      padding-left: 20px;
      margin-bottom: 10px;

      li {
        list-style-type: disc;
      }
    }

    .item {
      .label {
        min-width: 180px;
        width: 180px;
        @media (max-width:767px) {
              width: 100%;
        }

        span {
          display: block;
          color: #919191;
        }
      }

      .wrap_input {
        width: 100%;
      }
    }

    .them-chatlieu {
      ul {
        padding: 0;

        li {
          list-style-type: none;
          border: 0;
          padding: 10px 0;
          margin: 0;
          position: relative;
        }
      }
    }
  }

  .choose-wrap {
    color: #fd5023;
    font-size: 13px;
    border-radius: 8px;
    line-height: 140%;
    display: block;

    i {
      font-size: 20px;
    }

    span {
      margin-top: 0;
      color: #fd5023;
    }
  }

  .action-form {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    background: #fff;
    padding: 20px;
    box-shadow: 4px 0px 8px 0px rgba(54, 41, 183, 0.08),
      0px 4px 30px 0px rgba(54, 41, 183, 0.07);
    margin-left: -15px;
    width: calc(100% + 30px);

    .btn {
      min-width: 100px;
      margin-left: 10px;
    }
  }

  .box-list {
    background: #f5f5f5;
    padding-right: 70px;
    margin-bottom: 15px;
  }

  .item-edit {
    position: relative;

    .wrap_input {
      position: relative;
      background: #f5f5f5;
      padding: 15px;

      .delete {
        position: absolute;
        right: 10px;
        cursor: pointer;
        top: 10px;
        font-size: 20px;
      }
    }

    .form-group {
      .choose {
        width: 40px;
        height: 40px;
        padding-bottom: 0;
      }
    }

    .flex-input-choose {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      position: static;
      margin-bottom: 0;

      .icon-action {
        font-size: 20px;
        line-height: 40px;
        display: block;
        color: #616161;
      }

      .right-action {
        position: absolute;
        right: 20px;
        display: flex;
        gap: 10px;
        justify-content: end;
        width: 70px;
      }
    }
  }

  .btn-all {
    border-radius: 20px;
    background: #858baf;
    border-color: #858baf;
  }

  .table-scroll {
    table {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  @media (max-width: 991px) {
    .table-scroll {
      table {
        width: 1000px !important;
        max-width: 1000px !important;
      }
    }
  }
}

.bar {
  position: relative;
  border-radius: 100px;
  background: #e5e5e5;
  height: 20px;
  width: 100%;

  .percent {
    position: absolute;
    height: 100%;
    background: #4aac4c;
    color: #fff;
    left: 0;
    text-align: center;
    top: 0;
    border-radius: 100px;
  }
}

.box-info-user {
  border-radius: 10px;
  background: #e2ebf4;
}

.btn-add-user {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #c2c2c2;
  text-align: center;
  line-height: 28px;
  border: 1px dashed #c2c2c2;
}

.btn-add {
  border: 1px dashed #fd5023;
  border-radius: 20px;
  background: #fff;
  color: #fd5023;
}

.list-avt {
  img {
    margin-left: -10px;
  }
}

.icon {
  width: 50px;
  height: 50px;
  margin: auto;
  line-height: 50px;
  font-size: 25px;
}

.item-thongke {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
}

.box-info-item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;

  h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
  }

  table {
    td {
      padding: 5px 0;

      &:last-of-type {
        text-align: right;
      }
    }
  }
}

.side-left {
  // max-height: calc(100vh - 200px);
  overflow-y: auto;
  color: #4F4F4F;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #e7e7e7;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #e5e5e5;
  }
  h3, h4{
    color: #163E64;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%; /* 21px */
    margin-bottom: 10px; 
  }
  .rounded10{
    border-radius: 10px;
  }
  .flex-side {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    span{
      width: 100px;
      flex-shrink: 0;
    }
    input{
      border-radius: 4px;
      background: #F1F5F9;
      border: none;
    }
  }
}

.bg-box {
  background: #f5f5f5;
}

.them-nganhhang {
  .action {
    .btn {
      min-width: 120px;
    }
  }
}

.box-danhmuc {
  > div {
    &:not(:first-of-type) {
      border-left: 1px solid #e5e5e5;
    }
  }

  .list-toys {
    padding: 0 10px;
  }
}

.list-toys {
  padding: 20px 10px;

  &:not(:last-of-type) {
    border-left: 1px solid #e5e5e5;
  }

  ul {
    margin-bottom: 0;

    li {
      margin-bottom: 0 !important;
      border: 0 !important;

      a:hover {
        color: #fd5023 !important;
      }
    }
  }

  h6 {
    color: #1f2549;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;

    a {
      color: #1f2549;
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #919191;
    padding: 4px 0;
    display: block;
  }
}

.tongquan {
  .number {
    font-weight: bold;
    font-size: 30px;

    span {
      font-weight: normal;
      font-size: 14px;
    }
  }
}

.datetime {
  position: relative;
  width: 100%;
  max-width: 350px;

  > i {
    position: absolute;
    left: 10px;
    top: 15px;
  }

  input {
    padding-left: 30px;
  }
}

label.switch {
  width: 50px;

  input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(25px);
  }
}

.w-200px {
  width: 200px;
  min-width: 200px;
}

.box-tieuchi {
  color: #616161;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  border: 1px solid #c2c2c2;

  h5 {
    font-weight: bold;
    color: #1f2549;
  }

  ul {
    li {
      padding-left: 25px;
      display: inline-block;
      margin-bottom: 10px;
      width: 49%;
      position: relative;

      &::before {
        content: "\2022";
        position: absolute;
        left: 10px;
        top: -2px;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.them-chatlieu {
  .form-group {
    margin-bottom: 0;
  }

  ul {
    li {
      list-style-type: none;
      border: 0;
      padding: 10px 0;
      margin: 0;
      position: relative;

      &.active {
        color: #fd5023;

        &::after {
          content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.148 5.46029L7.14804 14.4603C7.0958 14.5126 7.03376 14.5541 6.96547 14.5824C6.89719 14.6107 6.82399 14.6253 6.75007 14.6253C6.67615 14.6253 6.60295 14.6107 6.53466 14.5824C6.46638 14.5541 6.40434 14.5126 6.3521 14.4603L2.4146 10.5228C2.30905 10.4172 2.24976 10.2741 2.24976 10.1248C2.24976 9.97556 2.30905 9.8324 2.4146 9.72686C2.52015 9.62131 2.6633 9.56201 2.81257 9.56201C2.96184 9.56201 3.10499 9.62131 3.21054 9.72686L6.75007 13.2671L15.3521 4.66436C15.4576 4.55881 15.6008 4.49951 15.7501 4.49951C15.8993 4.49951 16.0425 4.55881 16.148 4.66436C16.2536 4.7699 16.3129 4.91306 16.3129 5.06232C16.3129 5.21159 16.2536 5.35475 16.148 5.46029Z" fill="%23FD5023"/></svg>');
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }
}

.bottom-action {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #eee;
  .form-group {
    margin-bottom: 0;
  }

  .btn,
  .btn-default {
    border-radius: 100px;
    min-width: 120px
  }

  .select2-container--default {
    min-width: 200px;

    .select2-selection--single {
      border-radius: 100px !important;
      border: 1px solid #cacaca;
      color: #6d767e;

      .select2-selection__arrow {
        border-left: 0;
      }

      .select2-selection__rendered {
        color: #6d767e;
      }
    }
  }
}
.tab-khoahoc{
 
  li{
    padding: 5px;
    &.active{
      background: #eee;
      border-left: 3px solid #000;
    }
  }
  i{
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
}
.page-item {
  .page-link {
    color: #474747;
  }

  &.active .page-link {
    background-color: #fff;
    border:1px solid #DA621C;
    color: #DA621C;
    border-radius: 50%;
  }
}

.table-responsive {
  max-height: 800px;
  overflow: auto;
}

.upload-list {
  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box-upload {
    background: #fafafa;
    padding: 40px 0;

    input[type="file"] {
      display: none;
    }

    .icon {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
    }
  }
}

.content_lightbox {
  .action {
    display: flex;
    justify-content: end;
    gap: 10px;

    .btn {
      min-width: 100px;
    }
  }

  .table-responsive {
    .table {
      border: 0;
    }

    td {
      position: relative;
      border: 0 !important;
    }

    .thead {
      background: #fafafa;
    }

    .item-order .info .name-product {
      color: #1f2549;
      font-size: 13px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      word-break: break-word;
      overflow: hidden;
      -webkit-box-orient: vertical;

      white-space: normal;
    }
  }

  .soldout {
    .img,
    .name-product {
      filter: grayscale(1);
    }
  }
}

.has-order {
  padding-right: 40px !important;
}

.order {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 30px;
  height: 30px;

  .icofont-caret-up {
    position: absolute;
    top: 0;
  }

  .icofont-caret-down {
    position: absolute;
    bottom: 10px;
  }
}

.box-edit {
  .table-responsive .table {
    border: 0;

    td {
      border-left: 0;
      border-right: 0;
      color: #1f2549;

      h6 {
        font-weight: normal;
        color: #1f2549;
      }
    }

    tr:first-child,
    tr:nth-child(odd),
    .thead {
      background: #fafafa;
      font-weight: normal;
    }

    .item-order {
      img {
        width: 50px;
        height: 50px;
      }

      .info {
        .name-product {
          font-size: 13px;
          font-weight: normal;
        }
      }
    }
  }

  .icon-action {
    font-size: 20px;
    line-height: 40px;
    display: block;
    color: #616161;
  }
}

.tb-khunggio {
  thead {
    background: #f6f6f6;
  }

  th,
  td {
    padding: 16px;
  }

  td {
    border-top: 1px solid #e8e8e8;
  }

}
.datepick{
    border: 0;
    padding-left: 0;
    font-weight: bold;
}
.datepicker.sample {
  width: 100%;
  .ui-datepicker {
    width: 100%;
    td span,
    td a {
      padding-bottom: 15px;
      color: #fd5023;
      font-size: 13px;
      text-align: center;
    
    }
    td{
        position: relative;
    }
    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight {
      border: 0;
      background: none;
      &::after {
        content: "\2022";
        position: absolute;
        color: #fd5023;
        font-size: 20px;
        left: 23px;
        line-height: 38px;
      }
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default {
      border: 0;
      position: relative;
      background: none;
    }
    .ui-datepicker-current-day {
      .ui-state-default {
        &.ui-state-active {
          color: #fff;
          background: #fd5023;
          &::after {
            color: #fff;
          }
        }
      }
      &[title]::after {
        color: #fff;
      }
    }
    td[title]::after {
      content: attr(title);
      display: block;
      position: absolute;
      font-size: 0.8em;
      color: #fd5023;
      bottom: 2px;
      left: 0;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
  }
  .ui-widget-header{
    background: none;
    border: 0;
    .ui-datepicker-next {
        top: 10px;
        content: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.51534 6.26534L4.76534 10.0153C4.7305 10.0502 4.68913 10.0778 4.64361 10.0967C4.59809 10.1155 4.5493 10.1252 4.50003 10.1252C4.45075 10.1252 4.40196 10.1155 4.35644 10.0967C4.31092 10.0778 4.26955 10.0502 4.23471 10.0153C4.19987 9.9805 4.17223 9.93913 4.15338 9.89361C4.13452 9.84809 4.12482 9.7993 4.12482 9.75003C4.12482 9.70075 4.13452 9.65196 4.15338 9.60644C4.17223 9.56092 4.19987 9.51955 4.23471 9.48471L7.71987 6.00003L4.23471 2.51534C4.16435 2.44497 4.12482 2.34954 4.12482 2.25003C4.12482 2.15051 4.16435 2.05508 4.23471 1.98471C4.30508 1.91435 4.40051 1.87482 4.50003 1.87482C4.59954 1.87482 4.69497 1.91435 4.76534 1.98471L8.51534 5.73471C8.5502 5.76954 8.57786 5.8109 8.59674 5.85642C8.61561 5.90195 8.62532 5.95074 8.62532 6.00003C8.62532 6.04931 8.61561 6.0981 8.59674 6.14363C8.57786 6.18915 8.5502 6.23051 8.51534 6.26534Z" fill="%23333333"/></svg>');
    }
    .ui-datepicker-prev{
        top: 10px;
        content: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.7653 9.48471C7.80014 9.51955 7.82778 9.56092 7.84664 9.60644C7.86549 9.65196 7.8752 9.70075 7.8752 9.75003C7.8752 9.7993 7.86549 9.84809 7.84664 9.89361C7.82778 9.93913 7.80014 9.9805 7.7653 10.0153C7.73046 10.0502 7.6891 10.0778 7.64358 10.0967C7.59805 10.1155 7.54926 10.1252 7.49999 10.1252C7.45072 10.1252 7.40193 10.1155 7.3564 10.0967C7.31088 10.0778 7.26952 10.0502 7.23468 10.0153L3.48468 6.26534C3.44981 6.23051 3.42215 6.18915 3.40328 6.14363C3.38441 6.0981 3.37469 6.04931 3.37469 6.00003C3.37469 5.95074 3.38441 5.90195 3.40328 5.85642C3.42215 5.8109 3.44981 5.76954 3.48468 5.73471L7.23468 1.98471C7.30504 1.91435 7.40048 1.87482 7.49999 1.87482C7.5995 1.87482 7.69494 1.91435 7.7653 1.98471C7.83567 2.05508 7.8752 2.15051 7.8752 2.25003C7.8752 2.34954 7.83567 2.44497 7.7653 2.51534L4.28015 6.00003L7.7653 9.48471Z" fill="%23333333"/></svg>');
    }
    .ui-datepicker-title select{
        padding: 9px;
        border-radius: 4px;
        margin: 0 4px;
        border: 1px solid  #CACACA;

    }
  }
}
.btn-primary, 
.btn-base, .select-icon.btn-outline-secondary {
  background-color: #343E7A;
  border-color: #343E7A;
  border-radius: 100px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  &:hover{
    background-color: #5D6595;
    color: #fff;
    border-color:#5D6595;
  }
  &:focus{
    background-color: #2A3262;
    color: #fff;
    border-color:#2A3262;
  }
}
.box-action{
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 15px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 4px 0px 8px 0px rgba(54, 41, 183, 0.08),
    0px 4px 30px 0px rgba(54, 41, 183, 0.07);
    a{
      display: block;
      padding: 5px 0;
    }
}
.box-kichthuoc{
  [class*="col-"]{
    &:not(:first-child) {
      &::before{
        position: absolute;
        left: -13px;
        top: 8px;
        display: block;
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M19.9473 18.2198C20.017 18.2895 20.0723 18.3722 20.11 18.4632C20.1477 18.5543 20.1671 18.6519 20.1671 18.7504C20.1671 18.849 20.1477 18.9465 20.11 19.0376C20.0723 19.1286 20.017 19.2114 19.9473 19.281C19.8776 19.3507 19.7949 19.406 19.7038 19.4437C19.6128 19.4814 19.5152 19.5008 19.4167 19.5008C19.3181 19.5008 19.2205 19.4814 19.1295 19.4437C19.0385 19.406 18.9557 19.3507 18.8861 19.281L12.6667 13.0607L6.4473 19.281C6.30657 19.4218 6.1157 19.5008 5.91668 19.5008C5.71765 19.5008 5.52678 19.4218 5.38605 19.281C5.24532 19.1403 5.16626 18.9494 5.16626 18.7504C5.16626 18.5514 5.24532 18.3605 5.38605 18.2198L11.6064 12.0004L5.38605 5.78104C5.24532 5.64031 5.16626 5.44944 5.16626 5.25042C5.16626 5.05139 5.24532 4.86052 5.38605 4.71979C5.52678 4.57906 5.71765 4.5 5.91668 4.5C6.1157 4.5 6.30657 4.57906 6.4473 4.71979L12.6667 10.9401L18.8861 4.71979C19.0268 4.57906 19.2177 4.5 19.4167 4.5C19.6157 4.5 19.8066 4.57906 19.9473 4.71979C20.088 4.86052 20.1671 5.05139 20.1671 5.25042C20.1671 5.44944 20.088 5.64031 19.9473 5.78104L13.727 12.0004L19.9473 18.2198Z" fill="%23919191"/></svg>');
        @media (max-width:767px) {
              position: static;
              margin-top: 5px;
              text-align: center;
        }

      }
    }
  }
}
.box-input-ship{
  position: relative;
  &.disabled{
    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.5);
    }
   
  }
}
.table-responsive .table th{
  font-weight: normal;
  text-align: center;
  text-transform: none;
}
.table-no-border{
  td, th{
    padding: 5px;
  }
}