/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1732610067418');
	src: url('iconfont.eot?#iefix-1732610067418') format('embedded-opentype'),
		url('iconfont.woff2?1732610067418') format('woff2'),
		url('iconfont.woff?1732610067418') format('woff'),
		url('iconfont.ttf?1732610067418') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-address:before {
			content: '\ea01';
		}

		 .iconfont-bang-gia:before {
			content: '\ea02';
		}

		 .iconfont-bao-cao:before {
			content: '\ea03';
		}

		 .iconfont-box:before {
			content: '\ea04';
		}

		 .iconfont-Calendar:before {
			content: '\ea05';
		}

		 .iconfont-car:before {
			content: '\ea06';
		}

		 .iconfont-CaretDown:before {
			content: '\ea07';
		}

		 .iconfont-close:before {
			content: '\ea08';
		}

		 .iconfont-compass:before {
			content: '\ea09';
		}

		 .iconfont-crawl:before {
			content: '\ea0a';
		}

		 .iconfont-dashbroad:before {
			content: '\ea0b';
		}

		 .iconfont-elite:before {
			content: '\ea0c';
		}

		 .iconfont-face:before {
			content: '\ea0d';
		}

		 .iconfont-FilePlus:before {
			content: '\ea0e';
		}

		 .iconfont-hair:before {
			content: '\ea0f';
		}

		 .iconfont-hair2:before {
			content: '\ea10';
		}

		 .iconfont-he-thong:before {
			content: '\ea11';
		}

		 .iconfont-history:before {
			content: '\ea12';
		}

		 .iconfont-hotel:before {
			content: '\ea13';
		}

		 .iconfont-mail:before {
			content: '\ea14';
		}

		 .iconfont-map:before {
			content: '\ea15';
		}

		 .iconfont-menu:before {
			content: '\ea16';
		}

		 .iconfont-next:before {
			content: '\ea17';
		}

		 .iconfont-next2:before {
			content: '\ea18';
		}

		 .iconfont-notifi:before {
			content: '\ea19';
		}

		 .iconfont-Out:before {
			content: '\ea1a';
		}

		 .iconfont-payment:before {
			content: '\ea1b';
		}

		 .iconfont-plane:before {
			content: '\ea1c';
		}

		 .iconfont-prev2:before {
			content: '\ea1d';
		}

		 .iconfont-Question:before {
			content: '\ea1e';
		}

		 .iconfont-quick-sale:before {
			content: '\ea1f';
		}

		 .iconfont-Refresh:before {
			content: '\ea20';
		}

		 .iconfont-search:before {
			content: '\ea21';
		}

		 .iconfont-send:before {
			content: '\ea22';
		}

		 .iconfont-setting:before {
			content: '\ea23';
		}

		 .iconfont-shipped:before {
			content: '\ea24';
		}

		 .iconfont-smartphone:before {
			content: '\ea25';
		}

		 .iconfont-twiter:before {
			content: '\ea26';
		}

		 .iconfont-user:before {
			content: '\ea27';
		}

		 .iconfont-user2:before {
			content: '\ea28';
		}

		 .iconfont-user3:before {
			content: '\ea29';
		}

		 .iconfont-user4:before {
			content: '\ea2a';
		}

		 .iconfont-user5:before {
			content: '\ea2b';
		}

		 .iconfont-vector:before {
			content: '\ea2c';
		}

		 .iconfont-web-crawler:before {
			content: '\ea2d';
		}

		 .iconfont-z-1-upload:before {
			content: '\ea2e';
		}

		 .iconfont-z-10-chuongtrinh:before {
			content: '\ea2f';
		}

		 .iconfont-z-11-export:before {
			content: '\ea30';
		}

		 .iconfont-z-12-restore:before {
			content: '\ea31';
		}

		 .iconfont-z-13-setting:before {
			content: '\ea32';
		}

		 .iconfont-z-14-news:before {
			content: '\ea33';
		}

		 .iconfont-z-15-option:before {
			content: '\ea34';
		}

		 .iconfont-z-16-calculator:before {
			content: '\ea35';
		}

		 .iconfont-z-17-ticket:before {
			content: '\ea36';
		}

		 .iconfont-z-18-clipboard:before {
			content: '\ea37';
		}

		 .iconfont-z-19-out:before {
			content: '\ea38';
		}

		 .iconfont-z-2-add-to-playlist:before {
			content: '\ea39';
		}

		 .iconfont-z-20-filter:before {
			content: '\ea3a';
		}

		 .iconfont-z-3-print:before {
			content: '\ea3b';
		}

		 .iconfont-z-4-edit:before {
			content: '\ea3c';
		}

		 .iconfont-z-5-order:before {
			content: '\ea3d';
		}

		 .iconfont-z-6-group:before {
			content: '\ea3e';
		}

		 .iconfont-z-7-checklist:before {
			content: '\ea3f';
		}

		 .iconfont-z-8-hoadon:before {
			content: '\ea40';
		}

		 .iconfont-z-9-report:before {
			content: '\ea41';
		}

		